		<!-- continued from header.ejs -->
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="navbar-inner navbar-content-center">
			<div id="footer" class="footer container">

				<div id="notification" class="alert">Footer</div>

			</div>
			</div>
		</nav>

    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>