<% include partials/header %>
	
	<div class="container">

		<h3>Register</h3>

		<input name="email" placeholder="email"></input>
		<input name="password" placeholder="password" type="password"></input>
		<button class="btn btn-primary" id="submit">Submit</button>

	</div>

<script src="js/register.js"></script>
<% include partials/footer %>