<% include partials/header %>
	
	<h3>Register</h3>

	<input name="email" placeholder="email"></input>
	<input name="password" placeholder="password" type="password"></input>
	<button>Submit</button>

<% include partials/footer %>