<% include partials/header %>
	
	<div class="container" ng-app="register" ng-controller="registerController">

		<h3>Register</h3>

		<input name="email" placeholder="email" ng-model="email"></input>
		<input name="password" placeholder="password" type="password" ng-model="password"></input>
		<button class="btn btn-primary" id="submit" ng-click="register()">Submit</button>

	</div>

<script src="js/register.js"></script>
<% include partials/footer %>